@import "tailwindcss";
/* simple app-wide styles */
:root{
  --bg: #f8fafc;
  --card: #ffffff;
}

/* keep full height */
html, body, #root {
  height: 100%;
}

.prose {
  max-width: 100%;
}


/* Force dark mode background on mobile inputs/selects */
body {
  @apply bg-slate-900 text-slate-200;
}

input,
textarea,
select,
button {
  @apply bg-slate-800 text-slate-200 border-slate-700 placeholder-slate-400;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded;
}

::-webkit-scrollbar-track {
  @apply bg-slate-900;
}